body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Efecto de fondo estrellado y vino tinto profundo */
    background: radial-gradient(circle at center, #4a0404 0%, #1a0202 100%);
    background-image: 
        radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
        radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
        radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px);
    background-size: 550px 550px, 350px 350px, 250px 250px;
    font-family: 'Georgia', serif;
    color: #ffffff;
    margin: 0;
    overflow: hidden;
}

.container {
    text-align: center;
    background: rgba(42, 0, 0, 0.85); /* Fondo vino tinto traslúcido */
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
    border: 1px solid #800000;
    max-width: 85%;
}

#btn-si {
    background-color: #800000; /* Vino tinto */
    color: white;
    border: 1px solid #b30000;
    box-shadow: 0 0 15px rgba(128, 0, 0, 0.6);
}

#btn-no {
    background-color: #1a0202;
    color: #bdc3c7;
    border: 1px solid #4a0404;
}
